body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #6e6060;
}

.container {
    width: 900px;
    max-width: 90%;
    margin: 40px auto;
    background: rgb(165, 58, 58);
    padding: 30px;
    border-radius: 10px;
}

h1,
h2 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background: #eee;
}